@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Web Application created to query NS records for certain host. You are able to get next records:</p>
<ul>
    <li>A - IPv4 record</li>
    <li>AAAA - IPv6 record</li>
    <li>MX - Mail Server record</li>
    <li>CNAME - Canonical Name</li>
    <li>SRV - location of servers for specified services</li>
    <li>TXT - associate arbitrary text</li>
    <li>SOA - DNS zone information</li>
    <li>PTR - IP host and canonical name link</li>
    <li>Title - Title tag value</li>
    <li>Description - Meta tag description value</li>
    <li>Keywords - Meta tag keywords value</li>
</ul>
